// 颜色字体相关定义

$color-background = #2d2f3b
$color-nav-background = #3f455b
$color-body-background = #ecf1f5
$color-aside-background = white
$color-aside-text = #ADB3C4
$color-white = #ffffff
$color-bule = #409EFF
$color-error = #f56c6c
$color-nave = #2d2f3b
$color-menu = #3f455b
$color-menu-color = #adb2c5
$color-menuitem-color = #393e52
$color-menuitemhover-color = #00c2de
$color-tab-color =rgb(228, 231, 237, 0.5)
$color-tabboder-color =rgb(228, 231, 237, 1)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px